body{
    font-family: "Plus Jakarta Sans",sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}

.navbar{
    height:5rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: rgb(32, 18, 18) !important;
}

/* footer */
.f-info-links a:hover{
    text-decoration: none;
}

.f-info-links,
.f-info-socials,
.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;

}

/* card */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;
}
/* card Effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
/* new page */
.add-btn{
    background-color: green !important;
    border: none !important;
}
/* edit page */
.edit-btn{
    background-color: green !important;
    border: none !important;
}
/* show page */
.show-img{
    height: 30vh;
}

/* map */
#map{
    width: 100%;
    height: 400px;
    border-radius: 1rem;
}